@{
    ViewBag.Title = "TEST TABLE REPORT";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Vessel</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    $.get('vg')
    .done(function (res) {
        var a = res;

        var countUnit = 0;

        for (var index in a.unit) {
            countUnit++;
            $("table thead tr").append('<th>' + a.unit[index] + '</th>');
        }

        for (var index in a.data) {
            var buka = '<tr>';
            var isi = '<td>' + a.data[index].tgl + '</td>' +
                        '<td>' + a.data[index].vessel + '</td>';
            var tutup = '</tr>';

            for (var i = 0; i < countUnit; i++) {
                isi += '<td>' + a.data[index].data[i] + '</td>';
            };

            $("table").append(buka + isi + tutup);
        }
    })
    .always(function () {
        $("table").DataTable({
            dom: "Bfrtip",
            buttons: [
                {
                    extend: 'collection',
                    text: 'Export',
                    buttons: ['excel']
                }
            ]
        })
    })

</script>