@{
    Layout = null;
    ViewBag.Title = "Coba";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <h1>Haloo di coba
        </h1>
        <p>
            <h1>@Html.ActionLink("buat report", "excel")</h1>
        </p>
        
        
    </div>
</body>
</html>
