@{
    ViewBag.Title = "Report";
    Layout = "~/Views/_Layout.cshtml";
}
@*@Scripts.Render("~/Script/main");*@

<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active"><a href="#rMain" role="tab" data-toggle="tab">Report Main Unit</a></li>
            <li role="presentation"><a href="#rDCunit" role="tab" data-toggle="tab">Drill & Comp Unit</a></li>
            <li role="presentation"><a href="#rDailyUnit" role="tab" data-toggle="tab">Report Daily Unit</a></li>
            <li role="presentation"><a href="#rDailyDrill" role="tab" data-toggle="tab">Report DailyDrill</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="rMain">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" id="f_MainReport">
                                    <div class="form-group">
                                        <label class="control-label col-sm-1">Periode</label>
                                        <div class="col-sm-5">
                                            <input type="text" placeholder="Date From" class="form-control" name="main_tgFrom" />
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" placeholder="Date To" class="form-control" name="main_tgTo" />
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" id="reportMain" class="btn btn-primary">Create</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div id="reportMainUnitTable" class="table-responsive">
                                    <table id="tbMainUnit" class="table table-bordered" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="rDCunit">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" id="f_dcReport">
                                    <div class="form-group">
                                        <label class="control-label col-sm-1">Periode</label>
                                        <div class="col-sm-5">
                                            <input type="text" placeholder="Date From" class="form-control" name="dc_tgFrom" />
                                        </div>
                                        <div class="col-sm-5">
                                            <input type="text" placeholder="Date To" class="form-control" name="dc_tgTo" />
                                        </div>
                                        <div class="col-sm-1">
                                            <button type="button" id="reportDC" class="btn btn-primary">Create</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div id="reportDandC" class="table-responsive">
                                    <table id="tbDC" class="table table-bordered" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="rDailyUnit">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" id="f_generateReport">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Vessel</label>
                                            <div class="col-sm-10">
                                                @Html.DropDownList("vesselId", null, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Periode</label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Date From" class="form-control" name="tgFrom" />
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Date To" class="form-control" name="tgTo" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Type</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" name="type" >
                                                    <option value="fl" selected="selected">Fuel Litre</option>
                                                    <option value="fc">Fuel Cost</option>
                                                    <option value="ch">Charter Cost</option>
                                                    <option value="mb">Mob/Demob Cost</option>
                                                    <option value="ap">Full+Charter+Mob/Demob Cost</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                Generate <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu " role="menu">
                                                <li><a href="#" id="r_layar">on Screen</a></li>
                                                <li><a href="#" id="r_excel">Excel</a></li>
                                                @*<li><a href="#">Something else here</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">Separated link</a></li>*@
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div id="reportUnitTable" class="table-responsive">
                                    <table id="tbUnit" class="table table-bordered" width="100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="rDailyDrill">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" id="f_RepDailyDC">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Vessel</label>
                                            <div class="col-sm-10">
                                                @Html.DropDownList("unitId", null, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">Periode</label>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Date From" class="form-control" name="tgFrom" />
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="text" placeholder="Date To" class="form-control" name="tgTo" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="col-md-1">
                                            <button type="button" id="report2" class="btn btn-primary">Create</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12">
                                <div id="reportDCUnitTable" class="table-responsive">
                                    <table id="tbDCU" class="table table-bordered" style="width:100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <footer class="text-right">
            <strong class="text-right">Marine Boat Cost Allocation - Chevron &copy; @DateTime.Now.Year</strong>
        </footer>
    </div>
</div>

@Scripts.Render("~/Script/report");
